# IDEs/Debuggers
/.vs/
/.vscode/

# Temp directories for compile
/buildcommon/
/buildgame/
/buildstub/
/buildrenderer/
/buildsound/
/buildwin32/
/buildwin32tests/
/debug/
/release/

# For 3rd party DLLs
/bin/*
!/bin/fmod.dll
!/bin/fmodstudio.dll

# most libs are 3rd party but common.obj is compiled
/lib/common.obj

# IDEs
*.db
/xercise.VC.VC.opendb
*.i
*.sln
*.vcxproj*

# Compiles
*.out
